body{
    background-image: url("Tuwaiq_Project1/images/img2.jpg"); 
    background-size: cover;
}

.container{
    margin-bottom: 180px;
    margin-top: 25px;

}
.card-img-top{

    height: 450px;
    width: 250px;
}
