body{
    background-image: url("../images/img2.jpg"); 
}

.container{
    margin-bottom: 180px;
    margin-top: 25px;

}
.card-img-top{

    height: 450px;
    width: 250px;
}
.hidden{

    display: none;
}
.red
{
    text-align: center;
    color: red;
}